.create-dao {
    padding: 0px 0px;
    display: flex;
}

.create-dao--left {
    width: 40%;
    height: calc(100vh + 40px);
    position: relative;
}

.create-dao--right {
    width: 60%;
    height: 100%;
    padding: 50px 0px;
    background-color: #fff;
    height: calc(100vh - 60px);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.input__box--file {
    width: 36vw;
    height: 36vw;
    border-radius: 10px;
    background-color: #fff;
    padding: 32px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 30px));
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.input__box--file-inner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: dashed 1px #656565;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.input__box-note {
    font-size: 14px;
}

.create-dao__separator {
    height: 30px;
    position: relative;
    margin-top: 2rem;
}

.create-dao__separator-line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.create-dao__separator-text {
    font-size: 14px;
    font-weight: bold;
    padding: 0 16px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
}

.create-dao__btn {
    display: flex;
    justify-content: flex-end;
}

.create-dao-page-title {
    font-size: 2rem;
    font-weight: bold;
}