.wrapper{
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    width: calc(100% - 64px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.donate-expired {
    font-size: 0.8rem;
    font-style: italic;
}